services:
  anime-sub-translator:
    build: .
    container_name: anime-sub-translator
    ports:
      - "5765:5765"
    volumes:
      - /mnt/user/Emby-Media:/media:rw
    environment:
      - OLLAMA_URL=http://192.168.178.155:11434
      - OLLAMA_MODEL=anime-translator
      - BATCH_SIZE=15
      - LOG_LEVEL=INFO
      - BAZARR_URL=http://192.168.178.36:6767
      - BAZARR_API_KEY=8503b420e7678ecfc1d8c68ea0deaee6
      - SONARR_URL=http://192.168.178.36:8989
      - SONARR_API_KEY=60563879e92648258976fa64023074b8
    restart: unless-stopped
